.c-text-normal {
  text-transform: none;
}

.c-title {
  font-size: 24px;
}

.c-title-sm {
  font-size: 18px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

// h4 {
//   font-size: 60px;
// }

// h5 {
//   font-size: 60px;
// }

// h6 {
//   font-size: 60px;
// }
